/*.container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.square {
    height: 20vh;
    width: 20vh;
    border: black solid 1px;
}*/

body{
    text-align: center;
}

#clearBtn {
    margin-bottom: 5vh;
}

.drawn {background: hotpink;}