body{
    text-align: center;
    position: relative;
}

.btn {
    margin: -4vh 1vh 3vh 0vh;
    border: black solid 2px;
    padding: 4px 8px 4px 8px;
}

.drawn {background-color: rgb(204, 95, 149);}